.app {
  text-align: center;
  min-height: 100vh;
  background: #C8E6C9 url(./assets/bannerFeira.jpg) no-repeat fixed center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.apresentacao {
  max-width: 50%;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #388E3CDF;
}

#titulo {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  color: #fff;
}

#introducao {
  font-size: 24px;
  text-align: left;
  color: #fff;
}

.btn-intro {
  border: none;
  max-width: 200px;
  border-radius: 8px;
  font-size: 24px;
  padding: 18px;
  background-color: #fff;
  color: #2a941c;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-intro:hover {
  color: #fff;
  background-color: #00C853;
}